In [ ]:
import pandas as pd
import io

In [ ]:
pd.__version__

In [ ]:
df = pd.read_csv("green_tripdata_2019-09.csv", nrows=100)

In [ ]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
df

In [ ]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [ ]:
#df.to_sql(name='green_data', con=engine)
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))
#engine.

In [ ]:
#pd.read_sql(sql, con=engine)
df.to_sql(name='green_data', con=engine, index=False, schema='public')

In [ ]:
df_iter = pd.read_csv('green_tripdata_2019-09.csv', iterator=True, chunksize=100000)

In [ ]:
df = next(df_iter)

In [ ]:
len(df)

In [ ]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [ ]:
print(pd.io.sql.get_schema(df, name='green_trip_data', con=engine))

In [ ]:
df.head(n=0).to_sql(name='green_trip_data', con=engine, if_exists='replace')

In [ ]:
sql2 = "select 1"
pd.read_sql(sql2, con=engine)

In [ ]:
%time df.to_sql(name='green_trip_data', con=engine, if_exists='append')

In [ ]:
from time import time

In [ ]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    df.to_sql(name='green_trip_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

In [15]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

'wget' is not recognized as an internal or external command,
operable program or batch file.

In [16]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [17]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [ ]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')